<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110709592257-toat9ht75poorlfpk6b6nnpnmc6dagb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110709592257-toat9ht75poorlfpk6b6nnpnmc6dagb6</string>
	<key>API_KEY</key>
	<string>AIzaSyCaSpUMZR6KUXHGaWjpluaHmpUY6TFODas</string>
	<key>GCM_SENDER_ID</key>
	<string>110709592257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ferry.KPUmemory</string>
	<key>PROJECT_ID</key>
	<string>kpumemory</string>
	<key>STORAGE_BUCKET</key>
	<string>kpumemory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110709592257:ios:7cb294886741c8f9efc440</string>
</dict>
</plist>